.heshko{
    color:red
}

.card-img-top{
    width: 368px;
    height: 200px;
}
.heshko11{
    padding: 10px 30px 10px 10px;
    text-align: center;
    color:red;
}
.pp3{
    width:1200px;
    height:600px;
}

.bes3{
    width: 100%;
    height:400px;
}
#pop{
    background-color:rgb(10, 9, 64 ,0.5);
    height: 200px;
    color:white;
}

#bb{
    text-align: center;
}

#beer{
   margin-top: 10px
}

#parallax{
    background-image: url('../img/anton34.jpg');
    height: 75vh;
    background-size:cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
     }

